# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  '.platform-darwin atom-text-editor': [
    {
      'label': 'Reveal in Finder'
      'command': 'browse:reveal-file'
    }
  ]
  '.platform-linux atom-text-editor': [
    {
      'label': 'Reveal in file manager'
      'command': 'browse:reveal-file'
    }
  ]
  '.platform-win32 atom-text-editor': [
    {
      'label': 'Reveal in Explorer'
      'command': 'browse:reveal-file'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Browse'
      'submenu': [
        {
          'label': 'Open Configuration Folder'
          'command': 'browse:configuration-folder'
        },
        {
          'label': 'Open Packages Folder'
          'command': 'browse:packages-folder'
        },
        { 'type': 'separator' },
        {
          'label': 'Open Project Folder(s)'
          'command': 'browse:project-folders'
        },
        {
          'label': 'Reveal File'
          'command': 'browse:reveal-file'
        }
      ]
    ]
  }
]
