# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Browse'
      'submenu': [
        {
          'label': 'Open Configuration Folder'
          'command': 'browse:configuration-folder'
        },
        {
          'label': 'Open Packages Folder'
          'command': 'browse:packages-folder'
        },
        { 'type': 'separator' },
        {
          'label': 'Open Enclosing Folder'
          'command': 'browse:enclosing-folder'
        }
      ]
    ]
  }
]
