'context-menu':
  '.platform-darwin atom-text-editor': [
    {
      command: 'browse:reveal-file'
      label: 'Reveal in Finder'
    }
  ]
  '.platform-linux atom-text-editor': [
    {
      command: 'browse:reveal-file'
      label: 'Reveal in file manager'
    }
  ]
  '.platform-win32 atom-text-editor': [
    {
      command: 'browse:reveal-file'
      label: 'Reveal in Explorer'
    }
  ]
menu: [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Browse'
        submenu: [
          {
            command: 'browse:configuration-folder'
            label: 'Open Configuration Folder'
          }
          {
            command: 'browse:packages-folder'
            label: 'Open Packages Folder'
          }
          {
            type: 'separator'
          }
          {
            command: 'browse:project-folder'
            label: 'Open Project Folder(s)'
          }
          {
            command: 'browse:reveal-file'
            label: 'Reveal File'
          }
        ]
      }
    ]
  }
]
